body{
	overflow-x:hidden;
}

body,
html{
	height:100%;
}

#wrapper {
	position: relative;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.35s cubic-bezier(1, 1, 1, 1);
	-moz-transition: all 0.35s cubic-bezier(1, 1, 1, 1);
	-ms-transition: all 0.35s cubic-bezier(1, 1, 1, 1);
	-o-transition: all 0.35s cubic-bezier(1, 1, 1, 1);
	transition: all 0.35s cubic-bezier(1, 1, 1, 1); 
}

#wrapper.pushWrapper{
	-webkit-transform: translate3d(250px, 0, 0);
	-moz-transform: translate3d(250px, 0, 0);
	-ms-transform: translate3d(250px, 0, 0);
	-o-transform: translate3d(250px, 0, 0);
	transform: translate3d(250px, 0, 0);
}


#sidebar-nav {
	position: fixed;
	width: 250px;
	top: 0;
	bottom: 0;
	left:0;
	background-color: #000;
	-webkit-transition: all 0.35s cubic-bezier(1, 1, 1, 1);
	-moz-transition: all 0.35s cubic-bezier(1, 1, 1, 1);
	-ms-transition: all 0.35s cubic-bezier(1, 1, 1, 1);
	-o-transition: all 0.35s cubic-bezier(1, 1, 1, 1);
	transition: all 0.35s cubic-bezier(1, 1, 1, 1);
	-webkit-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
	-ms-transform: translate3d(-100%, 0, 0);
	-o-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0); 
}

#sidebar-nav.showSidebar {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}







