// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


$primaryColor: #eeffcc;

body {
    background: $primaryColor;
}

$container-width: 100%;
$column-count: 4;
$margin: 1%;

.container {
  width: $container-width;
}

.column {
  background: #1abc9c;
  height: 200px;
  display: block;
  float: left;
  width: ($container-width / $column-count) - ($margin * 2);
  margin: 0 $margin;
}


.test {
    width: 500px;
    height: 70px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    padding: 5px;
}

.test[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555; 
}

.test[placeholder]:empty:focus:before {
    content: "";
}

.contentWrap {
  overflow: hidden;
  max-height: 70px;
}

.own_posts {
  right: 10%;
  width: 35%;
  height: 30%;
  top: 25%;
  background: #008B8B;
  position: absolute;
  text-align: center;
  }

  .following_posts {
  right: 10%;
  width: 35%;
  height: 30%;
  top: 60%;
  background: #008B8B;
  position: absolute;
  text-align: center;
  }

.contentWrap {
  overflow: hidden;
  max-height: 70px;
}

.icons {
  border: 1px solid red;
  width: 710px;
}

.test img, .icons img , .followee_posts img,.own_posts img {
  width: 24px;
  height: 24px;
}

.test {
  width: 700px;
  overflow: hidden;
  height: 70px;
  background: #f5f5f5;
  border: 1px solid #ddd;
  padding: 5px;
  max-height: 70px;
  &[placeholder]:empty {
    &:before {
      content: attr(placeholder);
      color: #555;
    }
    &:focus:before {
      content: "";
    }
  }
}

.multiselect-container {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  .input-group {
    margin: 5px;
  }
  > li {
    padding: 0;
    > a.multiselect-all label {
      font-weight: 700;
    }
    &.multiselect-group label {
      margin: 0;
      padding: 3px 20px 3px 20px;
      height: 100%;
      font-weight: 700;
    }
    &.multiselect-group-clickable label {
      cursor: pointer;
    }
    > a {
      padding: 0;
      > label {
        margin: 0;
        height: 100%;
        cursor: pointer;
        font-weight: 400;
        padding: 3px 20px 3px 40px;
        &.radio, &.checkbox {
          margin: 0;
        }
        > input[type=checkbox] {
          margin-bottom: 5px;
        }
      }
    }
  }
}

.btn-group > .btn-group:nth-child(2) > .multiselect.btn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.form-inline .multiselect-container 
{
  label {
    &.checkbox, &.radio {
      padding: 3px 20px 3px 40px;
    }
  }
  li a label {
    &.checkbox input[type=checkbox], &.radio input[type=radio] {
      margin-left: -20px;
      margin-right: 0;
    }
  }
}
    /* Bootstrap multi-select library -scss (sass) code.  */
.multiselect-container {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  .input-group {
    margin: 5px;
  }
  > li {
    padding: 0;
    > a.multiselect-all label {
      font-weight: 700;
    }
    &.multiselect-group label {
      margin: 0;
      padding: 3px 20px 3px 20px;
      height: 100%;
      font-weight: 700;
    }
    &.multiselect-group-clickable label {
      cursor: pointer;
    }
    > a {
      padding: 0;
      > label {
        margin: 0;
        height: 100%;
        cursor: pointer;
        font-weight: 400;
        padding: 3px 20px 3px 40px;
        &.radio, &.checkbox {
          margin: 0;
        }
        > input[type=checkbox] {
          margin-bottom: 5px;
        }
      }
    }
  }
}

.btn-group > .btn-group:nth-child(2) > .multiselect.btn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.form-inline .multiselect-container {
  label {
    &.checkbox, &.radio {
      padding: 3px 20px 3px 40px;
    }
  }
  li a label {
    &.checkbox input[type=checkbox], &.radio input[type=radio] {
      margin-left: -20px;
      margin-right: 0;
    }
  }
}
.errors {
  color: red;
}